@font-face {
    font-family: typewriter;
    src: url(dogtown-typewriter-font/DogtownTypewriter-OVwKo.ttf);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.left {
    width: 40%;
    height: 100vh;
    background-image: url("christina-deravedisian-TFf8xg0GPbo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    padding: 10px;
}

input, label { 
    display: block;
    width: 250px;
}

.row {
    display: flex;
    gap: 50px;
}

.left-text {
    color: white;
    background-color: rgb(0 0 0 / 40%);
    font-family: typewriter;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    gap: 5px;
    width: 100%;
    margin-top: 200px;
}

.wave {
    height: 50px;
    width: 50px;
}

.block {
    display: block;
}


